.body {
    width: 100%;
    //height: 1626px;
    background-color: #FF906D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-bg {
    width: 90%;

    background-color: white;
}