.header {
    //width: 100%;
    height: 88px;
    background-color: black;
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    display: flex;
    

}

#logo h1 {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    //line-height: 16pt;
    font-size: 22pt;
    color: var(--color-font-primary);
}

#navbar ul li {
    color: white;
    margin: 10px;
}