main {
  h2 {
    font-size: 3rem;
    font-weight: 900;
    margin: 50px 0 25px;
  }
}

#catalog {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  line-height: 35px;

  .card {
    text-align: center;
    margin: 25px 8%;
    border-radius: 25px;
    box-shadow: $shadow;
  }

  img {
    margin-top: 25px;
  }
}
